:root{
    --primary-color: #FF3131;
    --secundary-color: #fff;
    --text-color-dark: #000;
    --text-color-light: rgb(255, 255, 255);
    --icon-color: #F3F3F3;
    background-color:#ad9a94;
    background-image: url('../img/2184697-abstrato-azul-circuito-tecnologia-fundo-vetor.jpg');

}